@import '../../../../styles/mixins';
@import '../../../../styles/variables';
@import '../../../../styles/common';

.sort {
    @include flexbox(row, space-between, center);
    position: relative;
    left: 145px;
    width: 150px;
    height: 50px;
    margin-top: 10px;

    &-title {
        font-size: 13px;
    }
    
    select {
            @extend %select;
    }
    
}