@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.sort {
    @include flexbox(row, space-between, center);
    position: relative;
    left: 145px;
    width: 200px;
    height: 50px;
    margin-top: 10px;

    &-title {
        font-size: 13px;
    }
    
    &-points {
        border: 1px solid #ccc;
        width: 120px;
        border-radius: 3px;
        overflow: hidden;

        select {
            padding: 5px 8px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            outline: none;

            &:focus {
                outline: none;
            }
        }
    }
    
}