<div *ngIf="dashBoard.man">
    <div class="left-hr">Men</div>
    <div class="items-wrapper">
        <app-item 
            *ngFor="let item of manItems" 
            [name]="item.name" [price]="item.price"
            [size]="item.size" [recources]="item.recources">
        </app-item>
    </div>
</div>
<div *ngIf="dashBoard.woman">
    <div class="right-hr">Women</div>
    <div class="items-wrapper">
        <app-item 
            *ngFor="let item of womanItems" 
            [name]="item.name" [price]="item.price"
            [size]="item.size" [recources]="item.recources">
        </app-item>
    </div>
</div>
<div *ngIf="dashBoard.children">
    <div class="left-hr">Children</div>
    <div class="items-wrapper">
        <app-item 
            *ngFor="let item of childItems" 
            [name]="item.name" [price]="item.price"
            [size]="item.size" [recources]="item.recources">
        </app-item>
    </div>
</div>