@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/common';

.carousel {
    width: 80%;
    margin: 0 auto;

}

.left-hr {
    @extend %hr-style;

    &:after {
       @extend %pseudo-hr-style; 
       margin-left: 35px;
    }
}

.right-hr {
    @extend %hr-style;

    &:before {
       @extend %pseudo-hr-style; 
       margin-right: 35px;
    }
}

.even-pages, .odd-pages {
    @extend %common-flex;
    position: absolute;
    top: -20px;
}

.even-left-arrows, .odd-right-arrows,
.even-right-arrows, .odd-left-arrows {
    outline: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
}

.even-left-arrows,
.even-pages {
    left: 12px;
}

.even-right-arrows {
    left: 30px;
}

.odd-pages,
.odd-right-arrows {
    right: 12px;
}

.odd-left-arrows {
    right: 30px;
}
