@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/common';

@mixin info($name) {
    content: $name;
    margin-left: 15px;
}

.back {
    @include flexbox(row, flex-start, center);
    width: 100%;
    
    &-link {
        @include flexbox(row, space-between, center); 
        width: 20%;
    }
}

.left-hr {
    @extend %hr-style;
    margin-top: 50px;

    &:after {
       @extend %pseudo-hr-style; 
       margin-left: 35px;
    }
}

.item {
    @include flexbox(row, space-between, flex-start);
    margin: 0 auto 50px;
    width: 80%;
    padding: 80px 50px;
    background-color: $header-color;
    border: 3px solid $catalog-brown;

    &-images {
        @include flexbox(row, center, center);
        width: 60%;
    }

    &-info {
        width: 30%;
        margin-right: 30px;

        &-price {
            &::after {
                @include info('PRICE');
            }
        }
        &-colors {
            input[type=radio] {
                @extend %radio-style;
            }
            margin-top: 20px;
            &::after {
                @include info('COLORS');
            }
        }
        &-sizes {
            margin-top: 20px;
            &::after {
                @include info('SIZES');
            }
        }
    }
}
  