<app-header>
  <app-dashboard></app-dashboard>
</app-header>
<app-sort></app-sort>
<div class="left-hr">Men</div>
<div class="items-wrapper">
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
</div>
<div class="right-hr">Women</div>
<div class="items-wrapper">
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
</div>
<div class="left-hr">Children</div>
<div class="items-wrapper">
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
</div>
