<app-header>
  <ng-container>
      <div class="dashboard">
          <div class="dashboard-checkboxs">
              <label class="container">
                  <input type="checkbox" name="man"
                  value="man" checked />
                  <span class="checkmark"></span>
                  Man
              </label>
              <label class="container">
                  <input type="checkbox" name="Women"
                  value="Women" checked />
                  <span class="checkmark"></span>
                  Women
              </label>
              <label class="container">
                  <input type="checkbox" name="children"
                  value="children" checked />
                  <span class="checkmark"></span>
                  Children
              </label>
          </div>
          <button class="dashboard-button">See all products</button>
      </div>
  </ng-container>
</app-header>
