<div class="item">
    <header class="item-header">
        <select *ngIf="size.map">
            <option value="">size</option>
            <option *ngFor="let item of size">{{item}}</option>
        </select>
        <div *ngIf="!size.map">{{size}}</div>
        <form [formGroup]="form" *ngIf="recources.length > 1">
            <input 
                *ngFor="let item of recources; let isFirst = first"
                [value]="item.color"
                [ngStyle]="{'background-color': item.color}"
                formControlName="color"
                type="radio" />
        </form>
    </header>
    <main>
        <div *ngFor="let item of recources;">
            <div *ngIf="form.value.color === item.color">
                <app-carousel [urls]="item.urls" [color]="item.color"></app-carousel>
            </div>
        </div> 
    </main>
    <footer class="item-footer">
        <div class="title" (click)="redirect()">{{name}}</div>
        <div class="price">{{price | currency:'EUR'}}</div>
    </footer>
</div>