<div class="item">
    <header class="item-header">
        <select *ngIf="size.map">
            <option value="">size</option>
            <option *ngFor="let item of size">{{item}}</option>
        </select>
        <h4 *ngIf="!size.map">{{size}}</h4>
        <form [formGroup]="form" *ngIf="recources.map">
            <input 
                *ngFor="let item of recources; let isFirst = first"
                [value]="item.color"
                [ngStyle]="{'background-color': item.color}"
                formControlName="color"
                type="radio" />
        </form>
    </header>
    <main>
        <img *ngIf="!recources.map" [src]="recources.url" alt="{{recources.color}}" />
        <div *ngIf="recources.map">
            <div *ngFor="let item of recources;">
                <img *ngIf="form.value.color === item.color" [src]="item.url" alt="{{item.color}}" /> 
            </div>
        </div> 
    </main>
    <footer class="item-footer">
        <h4>{{name}}</h4>
        <div class="price">{{price}}</div>
    </footer>
</div>